<section class="principal">
    <div class="buscador">
        <div>
              <input type="checkbox"> Sector:
              <select class="seleccionar">  
                <option value="value1">Value 1</option>
                <option value="value2" selected>Value 2</option>
                <option value="value3">Value 3</option>
              </select>
        </div>
        <div>
          <input type="checkbox"> Repositor:
          <select class="seleccionar">  
            <option value="value1">Value 1</option>
            <option value="value2" selected>Value 2</option>
            <option value="value3">Value 3</option>
          </select>
        </div>
  
      <button class="boton">Buscar</button>
    </div>
  
    <div class="container  scroll">
      <div class="row">
  <!--
        <div *ngFor="let producto of listaDeProductos" class="col-6">
          <app-card-producto>
          </app-card-producto>
      </div>
     -->
        <div class="col-6">
            <app-card-producto></app-card-producto>
        </div>
        <div class="col-6">
            <app-card-producto></app-card-producto>
        </div>
         <div class="col-6">
            <app-card-producto></app-card-producto>
        </div>
        <div class="col-6">
          <app-card-producto></app-card-producto>
      </div>
      <div class="col-6">
        <app-card-producto></app-card-producto>
    </div>
    <div class="col-6">
      <app-card-producto></app-card-producto>
  </div>
  <div class="col-6">
    <app-card-producto></app-card-producto>
  </div>
  <div class="col-6">
    <app-card-producto></app-card-producto>
  </div>
      </div>
  
    </div>
  
</section>