<section class="principal">
    <div class="buscador">
        <div class="form-check">
            <input class="form-check-input" (click)="seleccionar(sectorBuscado)" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>Sector: 
            <select class="seleccionar" [(ngModel)] = "sectorBuscado">  
                <option value="Sector 1">Sector 1</option>
                <option value="Sector 2">Sector 2</option>
                <option value="Sector 3">Sector 3</option>
              </select>
          </div>
          <div class="form-check">
            <input class="form-check-input" (click)="seleccionar(repoBuscado)" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">Repositor:
            <select class="seleccionar" [(ngModel)] = "repoBuscado">  
                <option value="Repositor 1">Repositor 1</option>
                <option value="Repositor 2">Repositor 2</option>
                <option value="Repositor 3">Repositor 3</option>
              </select>
          </div>
  
      <button class="boton" (click)="buscar()">Buscar</button>
    </div>
  
    <div class="container  scroll">
      <div class="row">
  <!--
        <div *ngFor="let producto of listaDeProductos" class="col-6">
          <app-card-producto>
          </app-card-producto>
      </div>
     -->
        <div class="col-6">
            <app-card-producto></app-card-producto>
        </div>
        <div class="col-6">
            <app-card-producto></app-card-producto>
        </div>
         <div class="col-6">
            <app-card-producto></app-card-producto>
        </div>
        <div class="col-6">
          <app-card-producto></app-card-producto>
      </div>
      <div class="col-6">
        <app-card-producto></app-card-producto>
    </div>
    <div class="col-6">
      <app-card-producto></app-card-producto>
  </div>
  <div class="col-6">
    <app-card-producto></app-card-producto>
  </div>
  <div class="col-6">
    <app-card-producto></app-card-producto>
  </div>
      </div>
  
    </div>
  
</section>