<section class="principal">
    <div class="buscador">
        <div class="form-check" >
            <input class="form-check-input" (click)="sectorORepo()" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>Sector: 
            <select class="seleccionar" [(ngModel)] = "sectorBuscado">  
                <option value="{{sector.desc_sector}}" *ngFor = "let sector of sectores">{{sector.desc_sector}}</option>
              </select>
          </div>
          <div class="form-check" >
            <input class="form-check-input" (click)="sectorORepo()" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">Repositor:
            <select class="seleccionar" [(ngModel)] = "repoBuscado">  
                <option value="{{Repo.nombre}}" *ngFor = "let Repo of repositores">{{Repo.nombre}}</option>
                
              </select>
          </div>
  
      <button class="boton" (click)="buscar()">Buscar</button>

    <button class="boton" type="button" class="btn btn-info" (click)="verTabla()">
      <i class="fas fa-th"></i>
    </button>
    </div>

  
    <div class="container  scroll">
      <div class="row">
  
        <div *ngFor="let producto of productos" class="col-6">
          <app-card-producto [prod] = "producto"></app-card-producto>
        </div>
  
      </div>
  
    </div>
    
  
</section>